@media screen and (min-width:1200px) {

    .container {
        width: 1200px;
        padding-top: 94px;
        padding-bottom: 94px;
        

    }


/*header*/

.container-header {
    padding-top: 24px;
    padding-bottom: 25px;
   

}

.logo-header,.logo-footer:link  {
    font-size: 26px;
  
}

.portfolio-header, 
.contacts-header-menu,
.homepage  {

padding-top:  32px;
padding-bottom: 28px;

}



.navigation {
    gap: 92px;
}


.contacts-item {
    
    font-size: 14px;
    gap: 30px ;
    
}

.envelope {
    width: 16px;
    height: 12px;
    
}

.smartphone {
    width: 10px;
    height: 16px;

}




/*hero-section*/

.hero-section {
    max-width: 1660px;
    min-height: 600px;

    background-size: 1660px;
    padding-top: 200px;
    padding-bottom: 200px
    
}

.hero-block {
    padding-top: 0px;
    padding-bottom: 0px;
    
}


.headline { 
    font-size: 44px;
 
}

.button-hero {
    width: 216px;
}



/*Benefits-section*/
    
    .benefits-container {
        padding-bottom: 0px;
    }


    .benefits-list {
        display: flex;
        gap: 30px;
    
    }

    .benefits-list-item {
        width: 270px;
        height: 248px;  
    }


    .benefits-box {
        width: 270px;
        height: 120px;
    
    }

   .heading-benefits{
       text-align: left;
    }

/*our-team*/

    .our-team-heading {
        font-size: 36px;
        margin-bottom: 50px;
    
    }


    .crew {
        width: 270px;
        padding-bottom: 30px; 

    }

    .team-members {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .team-member-item {
        width: 270px;
    }


    /*our-clients*/


    .our-clients-heading {
        font-size: 36px;
        margin-bottom: 50px;
        
    }

    .clients-item {
        width: 170px;
        height: 92px;
       
        
    }


    /*footer*/

.footer-flex {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;

}

.web-logo,
.logo-footer:link {
    font-size: 31px;
    text-align: start;
    
}

.address-list-footer {
    
    text-align: start;
 
}

.footer-header {
    margin-bottom: 27px;
}


.footer-box {
    display: flex;
    align-items: baseline;
    gap: 70px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 93px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;
    
}

.form-text {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}


.form-button {
    margin-bottom: 0px;
}

.input-sign-in {
    width: 358px;
    height: 50px;
    margin: 0 auto;
    
}

/*modal-window*/

.modal-window {
    
    max-width: 528px;
    max-height: 581px;
    
     
}

.modal-input,
.modal-comment {
    
    width: 448px;
    height: 40px
    
    
}

.modal-comment {
    
    height: 120px;
    
}

.policy-description {
    font-size: 14px;
}





















}