@media screen and (min-width:480px) {

    .container {
            width: 480px;
    
        }

/*hero-section*/

.hero-section {
    max-width: 480px;
    min-height: 400px;
}
    

/*Benefits-section*/

.benefits-list-item {
    width: 450px; 
}


.benefits-box {
    width: 450px;
    height: 120px;
    
}

/*our-team*/


    .crew {
         width: 450px;

        }

/*our-clients*/


    .clients-item {
        width: 210px;
        height: 92px;   
        }


/*footer*/


.input-sign-in {
    width: 450px;
   
      
}






    


    




        


    





















    
} 