@media screen and (min-width:768px) {





    /*hero-section*/

.hero-section {
    max-width: 768px;
    min-height: 400px; 
}
    
/*Benefits-section*/

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
}

.benefits-list-item {
    width: 354px;  
}

.heading-benefits{
    text-align: left;
}

.benefits-box {
    width: 354px;
    height: 120px; 
}

/*our-team*/


    .container {
        width: 768px;
    }


    .crew {
        width: 354px;
    }

    

    .team-member-item {
        width: 354px;
    }

/*our-clients*/


    .clients-item {
        width: 226px;
        height: 92px;  
    }

    



    /*footer*/

    .footer-box {
        justify-content: space-between;
        align-items: baseline;
        gap: 165px;
    }


    .footer-flex {
        gap: 60px;

        padding-left: 76px;
        padding-right: 89px;
    }


    .footer-adress {
        width: 232px;
        height: 79px;
    }

    .web-logo,
    .logo-footer:link {
       margin-bottom: 20px;  
    }


    .address-list-footer {
       width: 100%;
       height: 100px;
 
}

.input-sign-in {
    width: 450px;   
}

/*modal-window*/


.modal-window {
    
    max-width: 450px;
    max-height: 609px;
    
     
}

.modal-input,
.modal-comment {
    
    width: 370px;
    height: 40px
    
    
}

.modal-comment {
    
    height: 120px;
    
}

.policy-description {
    font-size: 12px;
}


















}